body{
    margin: 0;
}
.full-nav{
    /* #002D74, #003b99 */
    overflow: hidden;
    background-color: #002D74;
}
.left-nav{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 42px 56px;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 10px;
    font-family: 'Roboto', SansSerif, sans-serif;

}

.right-nav{
    float: right;
    padding: 0;
}
.header{
    text-align: center;
}

.table-info{
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
}