.wrapper{
    position: relative;
    overflow: hidden;
}

.login-layout{
    padding: 3em 0 1em;
}
div{
    display: block;
}
body{
    background: #002D74;
    background: linear-gradient(to top, #002D74, #003b99);
    background-size: cover;
    background-attachment: fixed;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-aggie{
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
}
.login-content{
    padding: 3em;
}
.text{

}